<a href="https://colab.research.google.com/github/GuiPiovezan/Atividades/blob/master/Aula_01_Fundamentos_do_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Aula 1 - Fundamentos do Python
## Linguagem de Programação (Prof. Dr. Henrique Dezani)
Curso de Tecnologia em Análise e Desenvolvimento de Sistemas da Faculdade de Tecnologia de São José do Rio Preto

## 1.1. Variáveis

A programação de computadores se baseia basicamente na manipulação de números e textos que, no Python, são chamados de números e strings.

Python 3 possui três representações de números embutidas, quais sejam: `int`, `float` e `complex`. Vejamos como podemos declarar variáveis com estes tipos de dados.

In [ ]:
idade = 38    # declara a variável 'idade' com o valor inteiro (int)
print(idade)  # função built-in reponsável por escrever na tela.

38

In [ ]:
salario = 752.89 # declara a variável 'salário' com o valor de ponto flutuate (float)
print(salario)

752.89

In [ ]:
complexo = 1+2j  # complex (irá exibir o valor armazenado na variável '1+2j')
print(complexo)

(1+2j)

In [ ]:
nome = "Guilherme"
print(nome)

Guilherme

In [ ]:
sexo = 'm'
print(sexo)

m

**Exercício 1**: Armazene em variáveis os valores de seu ano de ingresso na Fatec a sua média final na disciplina de Matemática Discreta.

In [ ]:
# digite seu código aqui.
ano_ingresso = 2019
media_final_md = 7.5

print(ano_ingresso)
print(media_final_md)

2019
7.5

## 1.2. Built-in functions - 'Funções internas'

O interpretador Python possui várias funções que estão sempre disponíveis para uso. Essas funções são chamadas de **funções internas (built-in functions)**. Por exemplo, a função `print()` imprime o objeto fornecido no dispositivo de saída padrão (tela). No Python 3.6 existem 68 funções internas.

Vamos supor que seja necessário descobrir os tipos de dados das variáveis declaradas anteriormente. Para tanto, utilizamos a função built-in `type(obj)` , com apenas um parâmetro, a qual retorna o tipo de um objeto.

In [ ]:
type(sexo)

str

In [ ]:
type(nome)

str

In [ ]:
type(idade)

int

In [ ]:
type(salario)

float

In [ ]:
type(complexo)

complex

In [ ]:
 if isinstance(idade, int):
  print('inteiro')
 else:
   print('não inteiro')

inteiro

**Exercício 2**: Mostre os tipos de dados das variáveis que você criou no Exercício 1.

In [ ]:
# digite seu código aqui.
tipo_ano_ingresso = type(ano_ingresso)
print(tipo_ano_ingresso)

tipo_media_final_md = type(media_final_md)
print(tipo_media_final_md)

Outras **funções buit-in** permitem realizar a **conversão dos tipos de dados** apresentados anteriormente. Veja os exemplos:

In [ ]:
idade_float = float(idade) # converte o valor da variável idade para float
print(idade_float)

SyntaxError: ignored

In [ ]:
salario_int = int(salario) # converte o valor da variável salario para int
print(salario_int)

Além das conversões de tipos de dados, temos diversas **funções built-in** que nos permitem trabalhar com números. Vejamos alguns exemplos:

In [ ]:
salario_arredondado =  round(salario) # arredonda um número para uma dada quantidade de casas decimais (o padrão é zero casa decimal).
print(salario_arredondado)

753

In [ ]:
help(round)

Help on built-in function round in module builtins:

round(...)
    round(number[, ndigits]) -> number

    Round a number to a given precision in decimal digits (default 0 digits).
    This returns an int when called with one argument, otherwise the
    same type as the number. ndigits may be negative.

In [ ]:
?round

In [ ]:
salario_arredondado =  round(salario, 1) # arredonda o número usando 1 casa decimal.
print(salario_arredondado)

752.9

In [ ]:
valor_absoluto = abs(-10) # retorna o valor absoluto de um número.
print(valor_absoluto)

In [ ]:
maior_valor = max(1, 7, 10, 3) # retorna o maior valor de uma coleção de números.
print(maior_valor)

In [ ]:
menor_valor = min(1,10,-1.1,-1.11)
print(menor_valor)

-1.11

In [ ]:
quadrado = pow(10, 2) # retorna a potência (2) de um número (10).
print(quadrado)
cubo = pow(10, 3)
print(cubo)

100
1000

In [ ]:
binario = bin(9) # retorna o valor binário de um número inteiro.
print(binario)
type(binario)

0b1001

str

In [ ]:
help('print') # mostra a documentação da função. Utilizado apenas para auxiliar na programação no software.
?print # mostra a documentção da função em docstring.

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## 1.3. Comandos de Entrada e Saída
Os comandos de entrada e saída permitem que possamos interagir com o programa, recebendo *feedback* dos resultados computados ou realizando a entrada de dados para o sistema. Ambos os comandos consistem em funções built-in, quais seja: `print()`, vista anteriormente, e `input('texto do prompt')` para entrada de dados. Vejamos um exemplo.

In [ ]:
nome = input('Digite o seu nome: ') # apresenta um elemento para entrada de dados com o label escrito como argumento.
print(nome)

Digite o seu nome: Guilherme
Guilherme

In [ ]:
type(nome) # toda entrada de dados obtida pela função built-in input() é uma string!

str

Portanto, se quisermos obter um número (inteiro ou ponto flutuante) digitado por um usuário, devemos receber a string da função built-in `input()` e, em seguida, realizar as conversões necessárias, utilizando as funções built-in `int()` ou `float()`. Veja o exemplo a seguir:

In [ ]:
idade_str = input('Qual a sua idade? ')
idade_int = int(idade_str)
print(idade_int)

Qual a sua idade? 19
19

In [ ]:
type(idade_str)

str

In [ ]:
type(idade_int)

int

**Para pensar**: E se o valor informado pelo usuário não for um número inteiro? Ou seja, e se o usuário digitou a letra a? Neste caso, uma exceção (erro) será disparada. Em aulas futuras estudaremos como tratar as exceções.

**Exerício 3**: Refaça o Exercício 1 de maneira que os dados sejam informados pelo usuário.

In [ ]:
# digite seu código aqui.
ano_ingresso_str = input('Digite o seu ano de ingresso: ')
ano_ingresso = int(ano_ingresso_str)
print("Data de ingressso em ", ano_ingresso)

Digite o seu ano de ingresso: 2020
Data de ingressso em  2020

##1.4 Operações Aritméticas
Para realizar as operações aritméticas, utilizamos os símbolos + (soma), - (subtração), * (multiplicação) e / (divisão).
É importante lembrar que temos a precedência das operações () /* +-

In [ ]:
numero1 = int(input('Digite o primeiro número'))
numero2 = int(input('Digite o segundo número'))

soma = numero1 + numero2
print(soma)

subtracao = numero1 - numero2
print(subtracao)

multiplicacao = numero1 * numero2
print(multiplicacao)

divisao = numero1 / numero2
print(divisao)

divisao_inteira = numero1 // numero2
print(divisao_inteira)

modulo = numero1 % numero2
print(modulo)               # 0 número par, 1 número ímpar

potencia = numero1 ** numero2
print(potencia)

Digite o primeiro número3
Digite o segundo número1
4
2
3
3.0
3
0
3

## 1.5. O Poder do Print (versão 3.6)

In [ ]:
print("Olá")

In [ ]:
nome = "Guilherme"
sobrenome = "Piovezan"

print("Olá, " + nome + " " + sobrenome) # concatenação

Olá, Guilherme Piovezan

In [ ]:
print("Olá, " + nome + " " + sobrenome + ", tudo bem?") # concatenação

Olá, Guilherme Piovezan, tudo bem?

In [ ]:
print("Olá, ", nome, ' ',sobrenome, ", tudo bem?", sep='\t') # concatenação

Olá, 	Guilherme	 	Piovezan	, tudo bem?

In [ ]:
print("Olá, {}, tudo bem?".format(nome)) #interpolação

Olá, Guilherme, tudo bem?

In [ ]:
print("Olá, {} {} {}, tudo bem?".format(nome, sobrenome, nome)) #interpolação de duas variáveis

Olá, Guilherme Piovezan Guilherme, tudo bem?

In [ ]:
print("Olá, {0} {1} {0}, tudo bem?".format(nome, sobrenome)) # interpolação, passando os índices

In [ ]:
print("!{:>20}".format(nome)) # alinha a variável à esquerda no texto.

!           Guilherme

In [ ]:
print("!{:<20}!".format(nome)) # alinha a variável à direita no texto.

!Guilherme           !

In [ ]:
print("!{:^20}!".format(nome)) # centraliza o texto dentro da quantidade máxima de caracteres

In [ ]:
print("!{:=^20}!".format(nome)) # adiciona o símbolo '=' nos espaços

!=====Guilherme======!

In [ ]:
print("Olá", end=' ') # define o caracter final (padrão '\n')
print("Mundo")
print("Novo")

Olá Mundo
Novo

In [ ]:
numero_float = 3.2353523
print("{:.2f}".format(numero_float)) # formata a saída float com 2 casas decimais.

3.24

## 1.6. Exercícios

### 1.6.1. Exercício 1: Implemente um programa que leia um número inteiro e mostre seu sucessor e seu antecessor.

In [ ]:
numero_1 = int(input("Digite o primeiro número: "))
#numero_1_int = numero_1(int)
antecessor = numero_1 - 1
sucessor = numero_1 + 1
print("Número digitado: {}\n Seu antecessor: {}\n Seu sucessor: {}".format(numero_1, antecessor, sucessor))

Digite o primeiro número: 10
Número digitado: 10
 seu antecessor: 9
 seu sucessor: 11

### 1.6.2. Exercício 2: Implemente um programa que leia um número inteiro e mostre seu dobro e seu triplo.

In [ ]:
numero_inteiro = int(input("Digite um número inteiro: "))
dobro_numero_inteiro = numero_inteiro * 2
triplo_numero_inteiro = numero_inteiro * 3
print("Seu dobro: {} X 2 = {}\nSeu triplo: {} X 3 = {}".format(numero_inteiro, dobro_numero_inteiro,numero_inteiro, triplo_numero_inteiro))

Digite um número inteiro: 2
Seu dobro: 2 X 2 = 4
Seu triplo: 2 X 3 = 6

### 1.6.3. Exercício 3: Implemente um programa que leia 4 notas de um aluno e mostre a média aritmética.

In [ ]:
nota1 = float(input("Digite a primeira nota: "))
nota2 = float(input("Digite a segunda nota: "))
nota3 = float(input("Digite a terceira nota: "))
nota4 = float(input("Digite a quarta nota: "))
media_notas = (nota1 + nota2 + nota2 + nota4) / 4
print("Média de notas: {}".format(media_notas))

Digite a primeira nota: 10
Digite a segunda nota: 10
Digite a terceira nota: 10
Digite a quarta nota: 9
Média de notas: 9.75

### 1.6.4. Exercício 4: Implemente um programa que leia um valor em metros e mostre seu valor em centímetros e em milímetros.

In [ ]:
valor_metros = float(input("Digite um valor em unidade de medida metros: "))
valor_centimetros = valor_metros * 100
valor_milimitros = valor_metros * 1000
print("Valor digitado: {:.2f}m \nValor convertido para centímetros: {:.2f}cm \nValor convertido para milímetros: {}mm".format(valor_metros, valor_centimetros, valor_milimitros))

Digite um valor em unidade de medida metros: 3
Valor digitado: 3.00m
Valor convertido para centímetros: 300.00cm
Valor convertido para milímetros: 3000.0mm

### 1.6.5. Exercício 5: Implemente um programa que tenha como entrada o valor em reais e mostre o valor correspondente em dolar.

In [ ]:
valor_reais = float(input("Digite um valor em reais (R$): "))
valor_dolar = valor_reais / 5.58
print("1 Dólar Americano corresponde a R$5,58 reais então, R${:.2f} reais em Dólar Americano seria U$${:.2f} dolares".format(valor_reais, valor_dolar))

Digite um valor em reais (R$): 20
1 Dólar Americano corresponde a R$5,58 reais então, R$20.00 reais em Dólar Americano seria U$$3.58 dolares

### 1.6.6. Exercício 6: Supondo que queremos pintar o muro da instituição, faça um programa que leia a altura e a largura do muro e mostre a quantidade de tinta necessária (1 litro de tinta pode pintar uma área de 2 metros quadrados).

In [ ]:
altura_muro = float(input("Digite a altura (em metros) do muro: "))
largura_muro = float(input("Digite a largura (em metros) do muro: "))
area_muro = largura_muro * altura_muro
quantidade_tinta = area_muro/2
print("Para uma área de muro igual a {}m² será necessário {} litros de tinta.".format(area_muro, quantidade_tinta))

Digite a altura (em metros) do muro: 3
Digite a largura (em metros) do muro: 3
Para uma área de muro igual a 9.0 m² será necessário 4.5 litros de tinta.

### 1.6.7. Exercício 7: Faça um programa que leia o preço de um produto e mostre o valor com 5% de desconto.

In [ ]:
valor_produto = float(input("Digite o valor do produto: "))
desconto_produto = valor_produto - (valor_produto * 0.05) 
print("O produto custa R${:.2f} reais, e com desconto de 5% ficará R${:.2f} reais".format(valor_produto, desconto_produto))

Digite o valor do produto: 1000
O produto custa R$1000.00 reais, e com desconto de 5% ficará R$950.00 reais

### 1.6.8. Exercício 8: Faça um programa que leia o salário de um colaborador e calcule seu salário com um aumento de 15%.

In [ ]:
salario_funcionario = float(input("Digite o salário do colaborador: "))
novo_salario_acrescimo = salario_funcionario + (salario_funcionario * 0.15)
print("O salário inicial do colaborador será de R${:.2f} reais com acréscimo de 15% o novo valor ficará em R${:.2f} reais".format(salario_funcionario, novo_salario_acrescimo))

Digite o salário do colaborador: 2000
O salário inicial do colaborador será de R$2000.00 reais com acréscimo de 15% o novo valor ficará em R$2300.00 reais