<a href="https://colab.research.google.com/github/GuiPiovezan/Atividades/blob/master/Revisao_Tipos_Dados_Basicos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Programa de revisão de conceitos básicos em Python**

In [ ]:
# 01 - primeiro programa
print("\nHello, Carlos !\n")

In [ ]:
# 02 - variáveis simples
msg = "Hello, Carlos !\n"
print(msg)
msg = "Alô, Carlos !\n"
print(msg)

In [ ]:
# 03 - strings e caracteres

# 03.1 - aspas simples x duplas
msg_simples = 'Simples ...'
msg_duplas  = "Duplas ..."
print(msg_simples)
print(msg_duplas)
print('\n')
msg_aspas_internas = "O prof. Carlos disse: 'Oi pessoal !' e todos responderam."
print(msg_aspas_internas)
print('\n')

In [ ]:
# 03.2 - manipulação: operações de mudança maiúsculas x minúsculas
nome_1 = 'carlos'
print(nome_1.title())
print(nome_1.lower())
print(nome_1.upper())
print('\n')
nome_2 = 'MAGNUS'
print(nome_2.title())
print(nome_2.lower())
print(nome_2.upper())
print('\n')

In [ ]:
# 03.3 - concatenação
nome_1 = nome_1.title()
nome_2 = nome_2.title()
print('Nome completo: ' + nome_1 + ' ' + nome_2)

In [ ]:
# 03.4 - manipulação: eliminação de espaços em branco
nome_3 = '  Carlson     '
print('Efeito  strip: -' + nome_3.strip()  + '-')
print('Efeito lstrip: -' + nome_3.lstrip() + '-')
print('Efeito rstrip: -' + nome_3.rstrip() + '-')

In [ ]:
# 03.5 - \t : tabulação (inserção de vários espaços em branco)
print('\n')
print('\tCarlos\n')
nome_1 = '\t' + nome_1
print(nome_1)
print(nome_1.strip())
print('\n')

In [ ]:
# 03.6 - caracteres
caracter_1 = 'C'
print('O caracter é: ' + caracter_1)
print(ord(caracter_1))
print('A posição do caracter ' + caracter_1 + ' na Tabela ASCII é: ' + str(ord(caracter_1)))
print('\n')

In [ ]:
#03.7 - comprimento (qtd caracteres)
nome_1 = 'Carlos'
nome_2 = 'Magnus'
nome_c = nome_1 + ' ' + nome_2
print('O primeiro nome (' + nome_1 + ') tem ' + str(len(nome_1)) + ' caracteres.')
print('O segundo  nome (' + nome_2 + ') tem ' + str(len(nome_2)) + ' caracteres.')
print('O nome completo (' + nome_c + ') tem ' + str(len(nome_c)) + ' caracteres.')
print('\n')

In [ ]:
# 04 - números

# 04.1 - inteiros
num_1 = 6
num_2 = 3
num_3 = 2
print('Adição de ' + str(num_1) + ' com ' + str(num_2) + ' resulta em: ' + str(num_1+num_2))
print(num_2-num_3)
print(num_1*num_3)
print(num_2/num_3)
print(num_2//num_3)
print(num_2%num_3)
print(num_3**num_1)
print('\n')

In [ ]:
# 04.2 - reais (floating-point)
num_1 = 0.1
num_2 = 0.2
num_3 = 0.3
print(num_1+num_2)
print(num_2-num_3)
print(num_1*num_3)
print(num_2/num_3)
print(num_3**num_1)
print('\n')

In [ ]:
# 05 - entrada de dados pelo teclado
valor = input('Informe o valor desejado: ')
print('Você informou o valor: ' + valor + ', porém internamente ele é uma string !')
valor = int(valor)
print(valor)
print('Após conversão, podemos fazer ' + str(valor))
print('MAS também podemos fazer sem usar str ... : ',valor)
print('\n')

In [ ]:
#06 - tipo bool (lógico)
terminou = False
print(terminou)
print('Será que terminou ?  Vejamos: ' + str(terminou))
terminou = True
print('E agora ?  Acho que ficou...: ' + str(terminou))
bool_1 = True
bool_2 = True
print('Sendo bool_1 ' + str(bool_1) + ' e bool_2 ' + str(bool_2) + ', temos:')
print('-> bool_1 AND bool_2: ' + str(bool_1 and bool_2))
print('-> bool_1 OR  bool_2: ' + str(bool_1 or  bool_2))
bool_1 = not bool_1
print('Sendo bool_1 ' + str(bool_1) + ' e bool_2 ' + str(bool_2) + ', temos:')
print('-> bool_1 AND bool_2: ' + str(bool_1 and bool_2))
print('-> bool_1 OR  bool_2: ' + str(bool_1 or  bool_2))
print('\n')